# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
